INSTALL_PATH="{{minecraft.installation_path}}"
BUCKET_NAME="{{lookup('aws_ssm', '/infra/s3/bucketName', region='eu-west-1', decrypt=True)}}"
PERIOD="{{minecraft.period}}"
STOP_WAIT_TIME="{{minecraft.stop_wait_time}}"
FLAVOR="{{minecraft.flavor}}"