INSTALL_PATH="{{minecraft.installation_path}}"
BUCKET_NAME="{{bucketName}}"
PERIOD="{{minecraft.period}}"
STOP_WAIT_TIME="{{minecraft.stop_wait_time}}"
FLAVOR="{{minecraft.flavor}}"
SNS_TOPIC_ARN="{{snsTopicArn}}"