[Unit]
Description=Minecraft Server

[Service]
WorkingDirectory={{minecraft.installation_path}}
Restart=always
ExecStart=/usr/bin/java -Xms{{minecraft.java.xms}} -Xmx{{minecraft.java.xmx}} -XX:+UseG1GC -jar {{minecraft.installation_path}}/fabric-server-launch.jar nogui
ExecStop=/tmp/userdata/stopServer.sh
[Install]
WantedBy=multi-user.target